﻿@model IEnumerable<Location>

@{
    ViewBag.Title = "Locations";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="locationsTable">
    <tr>
        <th></th>
        <th>
            Id
        <th>
            Lat
        </th>
        <th>
            Lon
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
            </td>
        </tr>
    }

</table>
